# Analiza danych w języku Python - ćwiczenia laboratoryjne 2024/2025

Ten notatnik zalicza się do grupy zestawów zadań, na podstawie których odbywa się zaliczenie ćwiczeń i podlega zwrotowi do oceny w ustalonym na zajęciach terminie.

Uwagi i wytyczne ogólne dotyczące uzupełniania i oceny notatnika:
- Podczas wykonywania zadań należy korzystać wyłącznie z pakietów zaimportowanych na początku notatnika oraz z pakietów wchodzących w skład standardowej biblioteki Pythona, które można zaimportować samodzielnie we wskazanej komórce notatnika. Wyjątek stanowi ostatni z projektów, gdzie po konsultacji z prowadzącym zajęcia możliwa jest większa swoboda w doborze pakietów.
- Swoje rozwiązania należy wprowadzać wyłącznie w miejce następujących fragmentów kodu:<br/> `# YOUR CODE HERE`<br/> `raise NotImplementedError()`<br/> 
a odpowiedzi tekstowe w komórkach oznaczonych hasłem:<br/> 
`YOUR ANSWER HERE`<br/> 
Nie należy w żaden sposób modyfikować pozostałych fragmentów kodu oraz innych elementów notatnika, w szczególności dodawać lub usuwać komórek oraz zmieniać nazwy pliku.
- Jeżeli zestaw zadań wymaga skorzystania z fragmentów kodu opracowanego w ramach wcześniejszych zestawów zadań należy je umieścić we wskazanej komórce notatnika.
- Otrzymywane wyniki i odpowiedzi mają być rezultatem wykonania napisanego kodu, odpowiedzi uzupełniane manualnie nie podlegają ocenie.
- Zawarte w notatniku automatyczne testy mają charakter poglądowy. Dotyczą one wybranych aspektów zadań i mają na celu wyłapać podstawowe błędy. Przejście przez kod wszystkich testów nie oznacza, że zadanie jest wykonane w całości poprawnie i zostanie ocenione na maksymalną liczbę punktów.
- Zadania należy wykonać w taki sposób, aby podczas wykonywania kodu nie zostały wyświetlone żadne ostrzeżenia.
- Zadania, które powodują wyświetlenie komunikatu o błędzie przerywającym wykonywanie kodu nie podlegają ocenie.

Uwagi i wytyczne ogólne dotyczące wizualizacji wyników:
- Wszystkie wykresy powinny być wykonane w jednolitym, przejrzystym i czytelnym stylu, posiadać odpowiednio dobrane proporcje i zakresy wartości osi.
- Figury powinny mieć ustawione białe tło, tak, aby niezależnie od ustawień notatnika wszystkie elementy wykresów były dobrze widoczne (domyślnie tło jest przeźroczyste co może powodować problemy w notatnikach z ustawionym ciemnym tłem). Rozmiar poziomy figur nie powinien przekraczać 20 cali.
- Wykresy oraz ich osie powinny mieć nadane tytuły. Jeżeli w obrębie figury znajduje się więcej niż jeden wykres to figura również powinna mieć nadany tytuł.

Przed odesłaniem zestawu zadań do oceny proszę uzupełnić komórkę z danymi autorów rozwiązania (nazwa zespołu oraz imiona, nazwiska i numery indeksów członków zespołu) oraz upewnić się, że notatnik działa zgodnie z oczekiwaniami. W tym celu należy skorzystać z opcji **Restart Kernel and Run All Cells...** dostępnej na górnej belce notatnika pod symbolem $\blacktriangleright\blacktriangleright$.

Nazwa zespołu: 43

Członkowie: Dominik Sakłaski (415120), Roksana Jandura (416314), Karolina Murzyn (409892)

---

## Zestaw zadań 3: Ruch rowery na moście Fremont w Seattle (Notatnik 1/3)

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Miejsce do importu pakietów wchodzących w skład standardowej biblioteki Pythona oraz ustawienie opcji wykorzystywanych pakietów
from datetime import datetime

### Zadanie 1: Przygotowanie danych [10 pkt]

#### a) Natężenie ruchu rowerowego 

Plik raw_bike_traffic_data.csv zawiera dane na temat ruchu rowerowego na moście Fremont Bridge w Seattle pobrane ze strony
https://data.seattle.gov/Transportation/Fremont-Bridge-Bicycle-Counter/65db-xm6k.

Zaimportuj zawarte w pliku dane do notatnika i utwórz na ich podstawie tablicę `bike_traffic_data` wykonaną według następujących wytycznych:

- Tablica powinna zawierać wyłącznie następujące elementy:</br>
    > Indeks: Date</br>
    > `pandas.DatetimeIndex` zawierający okresy, w których dokonywane były zliczenia rowerzystów.
    
    > Kolumny: Total, East, West</br>
    > Kolumny zawierają liczbę rowerzystów przejeżdżających przez most w poszczególnych godzinach w sumie oraz z podziałem na wschodnią i zachodnią stronę mostu.
- Pozostaw w tablicy wyłącznie wiersze dotyczące 2022 roku.

Zapisz tablicę do pliku bike_traffic_data.pkl.

Wyświetl przygotowaną tablicę w taki sposób aby widoczne było po 12 pierwszych i ostatnich wierszy, a zawarte w tablicy wartości wyświetlały się bez miejsc po przecinku.

In [3]:
df = pd.read_csv("raw_bike_traffic_data.csv")
df['Date'] = pd.to_datetime(df['Date'], format="%m/%d/%Y %I:%M:%S %p")
df = df.set_index('Date')

df = df.rename(columns={
    'Fremont Bridge Total': 'Total',
    'Fremont Bridge East Sidewalk': 'East',
    'Fremont Bridge West Sidewalk': 'West'
})

df = df[['Total', 'East', 'West']]
bike_traffic_data = df[df.index.year == 2022]
bike_traffic_data.to_pickle("bike_traffic_data.pkl")

with pd.option_context('display.float_format', '{:,.0f}'.format):
    display(pd.concat([bike_traffic_data.head(12), bike_traffic_data.tail(12)]))

                     Total  East  West
Date
2022-01-01 00:00:00      0     0     0
2022-01-01 01:00:00      0     0     0
2022-01-01 02:00:00      1     0     1
2022-01-01 03:00:00      0     0     0
2022-01-01 04:00:00      0     0     0
2022-01-01 05:00:00      1     1     0
2022-01-01 06:00:00      1     1     0
2022-01-01 07:00:00      1     1     0
2022-01-01 08:00:00      3     3     0
2022-01-01 09:00:00      2     0     2
2022-01-01 10:00:00      0     0     0
2022-01-01 11:00:00      1     0     1
2022-12-31 12:00:00    124    63    61
2022-12-31 13:00:00    103    56    47
2022-12-31 14:00:00     98    46    52
2022-12-31 15:00:00     83    40    43
2022-12-31 16:00:00     68    28    40
2022-12-31 17:00:00     35    19    16
2022-12-31 18:00:00     28    15    13
2022-12-31 19:00:00     14     6     8
2022-12-31 20:00:00     20    13     7
2022-12-31 21:00:00     16     6    10
2022-12-31 22:00:00     23    15     8
2022-12-31 23:00:00     25    15    10

In [4]:
### Komórka testowa
# Test 1 Kształt tablicy
assert bike_traffic_data.shape == (8760, 3)
# Test 2 Kolumny
assert len(set(list(bike_traffic_data.columns)) & set(['Total', 'East', 'West'])) == 3
# Test 3 Indeks
assert (bike_traffic_data.index.name == 'Date') == True
assert isinstance(bike_traffic_data.index, pd.DatetimeIndex)
bike_traffic_data.index.values.max()
assert bike_traffic_data.index.values.min() == np.datetime64('2022-01-01T00:00:00.000000000')
assert bike_traffic_data.index.values.max() == np.datetime64('2022-12-31T23:00:00.000000000')
# # Test 4 Zawartość kolumn
assert np.all(np.isclose(bike_traffic_data[['Total', 'East', 'West']].min().values, np.array([0, 0, 0]))) == True
assert np.all(np.isclose(bike_traffic_data[['Total', 'East', 'West']].max().values, np.array([717, 464, 635]))) == True

#### b) Pogoda

Pliki 2022_01.txt, 2022_02.txt ...  2022_12.txt zawierają miesięczne raporty pogodowe (F6 Preliminary Local Climate Data Report) ze stacji NWS Seattle/Tacoma, WA pobrane ze strony https://forecast.weather.gov/product.php?site=SEW&product=CF6&issuedby=SEW.

Wyjaśnienie wykorzystanych w raportach symboli i skrótów można znaleźć pod następującym linkiem: https://www.weather.gov/grr/climateF6explain.

Zaimportuj zawarte w plikach dane do notatnika i utwórz na ich podstawie tablicę `weather_data` wykonaną według następujących wytycznych:

- Tablica powinna zawierać wyłącznie następujące elementy:</br>
    > Indeks: Date</br>
    > `pandas.DatetimeIndex` zawierający okresy, których dotyczą dane z raportów pogodowych.</br>
    
    > Kolumny: 2-poziomowe nagłówki w podanej niżej kolejności (nazwa 1 poziomu: podległe jej nazwy 2 poziomu) </br>
    >> Temperature: Min, Avg, Max</br>
    >> Precipitation: Total</br>
    >> Snow: Fall, Depth</br>
    >> Wind:  Avg speed, Max speed</br>
    >> Sky: Cloud cover</br>

- Zamień oznaczenia opadów śladowych na wartość 0.
- Przelicz występujące w tablicy wartości do *C (temperatura), mm (opady), m/s (wiatr) i ułamków (zachmurzenie).

Zapisz tablicę do pliku weather_data.pkl.

Wyświetl przygotowaną tablicę w taki sposób aby widoczne było po 10 pierwszych i ostatnich wierszy, a zawarte w tablicy liczby wyświetlały się z dokładnością 2 miejsc po przecinku, a indeks pokazywał same daty (bez godzin).

In [5]:
weather_data = pd.DataFrame()

for i in range(1, 13):
    month_str = f"{i:02}"
    file_path = f"raw_weather_data/2022_{month_str}.txt"
    dane = pd.read_table(file_path, skiprows=18, header=None, sep="\s+")

    number = 0
    for index, row in dane.iterrows():
        try:
            int(row[0])
        except:
            number = index
            break

    dane = dane.iloc[:number, :]
    dane['Date'] = [datetime(2022, i, int(day)) for day in dane[0]]

    dane = dane[[  
        2, 3, 1,
        7,
        8, 9,
        10, 11,
        15,
        'Date'
    ]]

    dane.columns = pd.MultiIndex.from_tuples([
        ('Temperature', 'Min'),
        ('Temperature', 'Avg'),
        ('Temperature', 'Max'),
        ('Precipitation', 'Total'),
        ('Snow', 'Fall'),
        ('Snow', 'Depth'),
        ('Wind', 'Avg speed'),
        ('Wind', 'Max speed'),
        ('Sky', 'Cloud cover'),
        ('_', 'Date')
    ])

    weather_data = pd.concat([weather_data, dane], ignore_index=True)

weather_data = weather_data.set_index(('_', 'Date'))
weather_data.index = pd.to_datetime(weather_data.index)
weather_data.index.name = 'Date'

for col in weather_data.columns:
    if col[0] == 'Temperature':
        weather_data[col] = weather_data[col].apply(
            lambda x: ((float(x) - 32) * 5/9) if x not in [None, 'M'] else None
        )
    elif col[0] in ['Precipitation', 'Snow']:
        weather_data[col] = weather_data[col].apply(
            lambda x: 0.0 if x == 'T' else (float(x) * 25.4 if x not in [None, 'M'] else None)
        )
    elif col[0] == 'Wind':
        weather_data[col] = weather_data[col].apply(
            lambda x: float(x) * 0.44704 if x not in [None, 'M'] else None
        )
    elif col == ('Sky', 'Cloud cover'):
        weather_data[col] = weather_data[col].apply(
            lambda x: float(x) / 10 if x not in [None, 'M', '_'] else None
        )

weather_data.to_pickle("weather_data.pkl")

with pd.option_context('display.float_format', '{:.2f}'.format):
    display(pd.concat([weather_data.head(10), weather_data.tail(10)]))

           Temperature             Precipitation Snow            Wind  \
                   Min   Avg   Max         Total Fall Depth Avg speed
Date
2022-01-01       -5.56 -2.22  1.11          0.00 0.00 76.20      3.58
2022-01-02       -1.11  2.78  6.11         20.07 0.00 76.20      3.80
2022-01-03        0.56  2.78  5.00         12.45 0.00  0.00      5.14
2022-01-04        1.67  3.89  5.56          5.59 0.00  0.00      4.34
2022-01-05        1.11  2.78  3.89          8.38 0.00  0.00      2.24
2022-01-06        2.22  6.11 10.00         50.80 0.00  0.00      6.39
2022-01-07        3.33  6.11  8.89          9.65 0.00  0.00      6.62
2022-01-08        2.78  5.00  7.22          0.00 0.00  0.00      4.02
2022-01-09        0.00  5.00 10.00          0.00 0.00  0.00      2.37
2022-01-10        0.56  5.00  8.89          6.86 0.00  0.00      2.59
2022-12-22       -7.78 -5.56 -3.33          0.00 0.00 25.40      5.95
2022-12-23       -5.00 -0.56  3.89          8.89 0.00  0.00      4.20
2022-12-24        2.22  7.22 11.67         38.61 0.00  0.00      4.78
2022-12-25        8.33 10.00 11.67         11.43 0.00  0.00      2.19
2022-12-26        7.78 11.11 13.89         28.45 0.00  0.00      5.01
2022-12-27        6.67  9.44 11.67          6.86 0.00  0.00      7.73
2022-12-28        5.00  6.67  7.78          0.76 0.00  0.00      5.77
2022-12-29        5.00  6.67  7.78          8.89 0.00  0.00      2.77
2022-12-30        5.56  8.89 11.67          9.14 0.00  0.00      6.44
2022-12-31        6.11  7.78  9.44          0.25 0.00  0.00      4.47

                             Sky
           Max speed Cloud cover
Date
2022-01-01      5.36        0.80
2022-01-02      8.94        1.00
2022-01-03     11.62        0.90
2022-01-04      9.83        0.90
2022-01-05      4.47        1.00
2022-01-06     10.73        1.00
2022-01-07     13.41        0.90
2022-01-08      7.60        0.70
2022-01-09      6.71        0.30
2022-01-10      6.71        0.90
2022-12-22     12.52        0.70
2022-12-23      8.94        1.00
2022-12-24     10.28        1.00
2022-12-25      6.71        0.90
2022-12-26     13.86        1.00
2022-12-27     16.54        1.00
2022-12-28     12.52        0.80
2022-12-29      7.60        1.00
2022-12-30     11.62        0.90
2022-12-31      9.39        0.90

In [6]:
### Komórka testowa
# Test 1 Kształt tablicy
assert weather_data.shape == (365, 9)
# Test 2 Kolumny
assert len(set(list(weather_data.columns)) & set([('Temperature', 'Min'), ('Temperature', 'Avg'), ('Temperature', 'Max'), ('Precipitation', 'Total'),
            ('Snow', 'Fall'), ('Snow', 'Depth'), ('Wind', 'Avg speed'), ('Wind', 'Max speed'), ('Sky', 'Cloud cover')])) == 9
# Test 3 Indeks
assert (weather_data.index.name == 'Date') == True
assert isinstance(weather_data.index, pd.DatetimeIndex) == True
assert weather_data.index.values.min() == np.datetime64('2022-01-01T00:00:00.000000000')
assert weather_data.index.values.max() == np.datetime64('2022-12-31T00:00:00.000000000')
# Test 4 Zawartość kolumn
assert np.all(np.isclose(weather_data.min().values, np.array([-7.77777778, -5.55555556, -3.33333333, 0., 0., 0., 0.89407778, 3.12927222, 0.]))) == True
assert np.all(np.isclose(weather_data.max().values, np.array([20., 26.66666667, 35., 75.438, 66.04, 76.2, 8.31492333, 16.54043889, 1.]))) == True